.container {
  @apply block relative pl-10 mb-2 text-primary font-semibold cursor-pointer select-none;

  input {
    @apply absolute left-0 opacity-0;
  }
}

.disabledContainer {
  @apply text-ld-darkgrey;

  &:hover {
    @apply cursor-default;
  }
}

.blueContainer {
  input {
    @apply text-ld-mediumblue;
  }
}

.checkmark {
  @apply absolute -top-0.5 left-0 h-5 w-5 bg-white rounded-sm mt-1 border border-gray-300;
}

.disabledContainer .checkmark {
  @apply bg-gray-100 border-gray-300;
}

.blueContainer .checkmark {
  @apply border-acc-hoverlinkblue;
}

.container:hover input ~ .checkmark {
  @apply border-acc-lightgrey;
}

.blueContainer:hover input ~ .checkmark {
  @apply border-acc-hoverlinkblue;
}

.checkmark > svg {
  @apply absolute hidden;
  content: "";
}

.container .checkmark > svg {
  @apply text-acc-linkblue font-thin -top-[6px] -left-[1px] text-[28px];
}

.blueContainer .checkmark > svg {
  @apply text-ld-mediumblue;
}

.container input:checked ~ .checkmark {
  @apply bg-white;
}

.container input:checked ~ .checkmark > svg {
  @apply block;
}

.container input:focus ~ .checkmark {
  @apply widget-shadow-lightblue;
}

.container:hover input:disabled ~ .checkmark {
  @apply border-gray-300;
}

.description {
  @apply text-acc-darkgrey ml-10 mb-6;
}
