/*
 *  Overrides Ace Editor's themes to create custom styling
 */

.ace-github-dark .ace_gutter {
  @apply text-white bg-ld-darkerblue;
}

.ace-github-dark .ace_print-margin {
  width: 0px;
  background: #555651;
}

.ace-github,
.ace-github-dark {
  @apply bg-transparent;
  font-family:
    "Roboto Mono",
    Menlo,
    Monaco,
    Courier New,
    monospace,
    serif;
}

.ace-github {
  @apply text-primary;
}

.ace-github-dark .ace_marker-layer .ace_selection {
  @screen lg {
    @apply bg-gray-600;
  }
}

.ace-github-dark .ace_gutter-active-line {
  @apply bg-gray-600;
}

.ace-github-dark .ace_entity.ace_name.ace_tag,
.ace-github-dark .ace_keyword,
.ace-github-dark .ace_meta.ace_tag,
.ace-github-dark .ace_storage {
  @apply text-ld-orange;
}

.ace-github .ace_constant.ace_buildin,
.ace-github .ace_support.ace_function {
  @apply text-acc-hoverlinkblue;
}

.ace-github-dark .ace_constant.ace_buildin,
.ace-github-dark .ace_support.ace_function {
  @apply text-indigo-300;
}

.ace-github .ace_cursor {
  @apply opacity-0;
}

.create-table-ace {
  @apply h-full;
  .ace_content {
    @apply h-full;
  }
  .ace_scroller {
    @apply h-full;
    overflow-y: hidden;
  }
}
