.titlebar {
  @apply bg-storm-600 text-white flex justify-center items-center;
  @screen lg {
    @apply h-16;
  }
  a,
  button {
    @apply cursor-pointer;
    -webkit-app-region: no-drag;
  }
  button {
    @apply ml-16;
    @screen lg {
      @apply ml-0;
    }
  }
  a {
    @apply inline-block -ml-4;
    @screen lg {
      @apply -ml-0;
    }
  }
}

.drag {
  -webkit-app-region: drag;
  a,
  button {
    @apply cursor-pointer;
    -webkit-app-region: no-drag;
  }
}

.noDrag {
  -webkit-app-region: no-drag;
}

.logo {
  @apply max-h-6;
}

.forMobile {
  @screen md {
    @apply hidden;
  }
}
