.titlebar {
  @apply bg-storm-600 text-white flex justify-center items-center relative;
  @screen lg {
    @apply h-16;
  }
  a,
  button {
    @apply cursor-pointer;
    -webkit-app-region: no-drag;
  }
  button {
    @apply ml-16;
    @screen lg {
      @apply ml-0;
    }
  }
  a {
    @apply inline-block -ml-4;
    @screen lg {
      @apply -ml-0;
    }
  }
}

.outer {
  @apply absolute bottom-4 flex  justify-between items-center;
  left: calc(50% - 8rem);
  width: calc(50% + 6rem);
}

.desktopOuter {
  @apply flex  justify-between items-center w-full;
}

.left,
.middle,
.right {
  @apply w-1/3;
}

.left {
  @apply pl-8;
}

.middle {
  @apply justify-center;
}

.right {
  @apply flex justify-end pr-8;

  a,
  button {
    @apply text-sm font-normal tracking-wide text-white/90 hover:text-sky-100;
  }

  a {
    @apply mr-2 ml-10 flex items-center;
    > svg {
      @apply mr-3;
    }
  }
}

.drag {
  -webkit-app-region: drag;
  a,
  button {
    @apply cursor-pointer;
    -webkit-app-region: no-drag;
  }
}

.noDrag {
  -webkit-app-region: no-drag;
}

.logo {
  @apply max-h-6;
}

.forMobile {
  @screen md {
    @apply hidden;
  }
}
