.hide {
  @apply hidden;
}

.overlay {
  @apply fixed top-0 left-0 w-full h-full z-100 bg-acc-darkgrey/70;
}

.modal {
  @apply fixed bg-white h-auto top-1/2 left-1/2 rounded-lg -translate-x-1/2 -translate-y-1/2 w-[325px] md:w-[500px];
}

.top {
  @apply flex justify-between items-center py-4 px-6 border-b;
}

.inner {
  @apply p-6 bg-ld-grey;
  p {
    @apply mb-6;
  }
  form {
    @apply text-left;
  }
}

.buttons {
  @apply flex justify-end items-center py-4 px-6 border-t;
}

.close {
  svg {
    @apply text-lg;
  }
}

.error {
  @apply pt-0 max-w-[275px] pr-4;
}

.cancel {
  @apply pr-4;
}
