.views {
  @apply text-primary mb-10;
}

.text {
  @apply my-4 mx-5 text-storm-50;
  a {
    @apply text-white;
    &:hover {
      @apply text-sky-300;
    }
  }
}

.icon {
  @apply text-2xl mr-2 text-primary rounded-full opacity-25;
}

.item {
  @apply flex w-full py-2.5 px-6;

  @screen lg {
    @apply pr-2;
  }
}

.item:hover .icon {
  @apply opacity-100;

  &:hover {
    @apply text-sky-900;
  }
}

.button {
  @apply flex justify-between items-center w-full;

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }
}

.selected,
.item:hover {
  @apply bg-white text-link-2;
}

.name {
  @apply text-link-1 text-sm font-semibold;
}

.viewing {
  @apply py-0.5 mr-4 text-coral-400 font-semibold text-sm;
}
