**/node_modules
**/npm-debug.log
**/yarn-error.log
**/.next
**/.cache
**/.eslintcache
**/dist
**/*.tsbuildinfo
packages/*/yarn.lock
packages/*/.rts2_cache*
WebDockerfile
GraphQLDockerfile
*.env

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
