**/node_modules
**/npm-debug.log
**/yarn-error.log
**/.next
**/.cache
**/.gitignore
**/.eslintcache
**/.eslintignore
**/.eslintrc.js
**/.pretterrc.js
**/.unimportedrc.json
**/.codegen.yml
**/jest.config.js
**/jest.setup.js
**/dist
**/*.tsbuildinfo
Dockerfile
**/*.env
*.md
**/check-server.js
**/ci-helper.sh

**/*.test.ts
**/*.test.tsx

**/.yarn/cache
**/.yarn/install-state.gz