node_modules
npm-debug.log
yarn-error.log
.eslintcache
.eslintignore
.eslintrc.js
.pretterrc.js
check-server.js
ci-helper.sh
dist
*.tsbuildinfo
Dockerfile
*.env
.gitignore
*.md

**/*.test.ts

.yarn/cache
.yarn/install-state.gz
