.wrapper {
  @apply hidden lg:inline-block;
}

.dbItem {
  @apply text-sm py-1 px-2;
}

.createDBButton {
  @apply text-white bg-button-1 pl-1 pr-3 w-full py-1 rounded-b-lg;

  &:hover {
    @apply text-white bg-button-2;
  }
}

.roundTop {
  @apply rounded-t-lg;
}
