.outerForPostgres {
  @apply ml-2.5;
}

.branchAndTagSelect {
  @apply min-w-[270px] max-w-[270px] w-full;
}

.selectForPostgres {
  @apply min-w-[220px] max-w-[220px];
}

.branchAndCommitSelect {
  @apply max-w-md;

  @screen md {
    @apply w-auto;
  }
}

.commitTimeAgo {
  @apply mt-0.5;
}

.disabledWrapper {
  @apply flex items-center;
}

.label {
  @apply font-semibold inline-block mr-3 ml-2.5;
}

.doltDisabled {
  @apply bg-stone-50 border border-storm-200 px-2.5 py-2 rounded text-sm;
}
