.container {
  @apply mb-10;

  h4 {
    @apply mx-3 mb-1.5 mt-3 text-base text-storm-50;
  }
}

.text {
  @apply mb-5 mt-2 mx-5 text-white;
}

.icon {
  @apply text-xl mr-2 text-white rounded-full opacity-25;
}

.item {
  @apply w-full py-2.5 px-6;

  @screen lg {
    @apply pr-2;
  }
}

.item:hover {
  .icon,
  .name {
    @apply text-sky-900  opacity-100;
  }
}

.button {
  @apply flex justify-between items-center w-full;

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }
}

.selected,
.item:hover {
  @apply bg-storm-200 text-link-2;
}

.name {
  @apply text-white text-sm font-semibold;
}

.viewing {
  @apply py-0.5 mr-4 text-coral-400 font-semibold text-sm;
}

.smallLoader {
  @apply text-sm;
}
