.databaseForm {
  @apply w-full max-w-xl mx-auto;

  h3 {
    @apply mb-4;
  }
}

.whiteContainer {
  @apply max-w-xl w-full border rounded-lg py-10 bg-white mx-auto;
}

.goback {
  @apply mb-2 mx-2;
  svg {
    @apply mb-[0.2rem] mr-1 inline-block;
  }
}

.section {
  @apply px-14 py-4;
}

.typeSelect {
  @apply ml-8 mb-4;
}

.typeSelectInner {
  @apply w-full;
}

.middle {
  @apply border-y pt-8;
}

.or {
  @apply font-semibold text-center w-full my-5 text-lg;
}

.advancedSettings {
  @apply my-5 flex items-center;

  svg {
    @apply mr-2;
  }
}

.checkbox {
  @apply mt-7 mb-10 text-sm;
}

.instructions {
  @apply mb-8;
}
