.item {
  @apply text-primary;
}

.buttonIcon {
  @apply text-ld-darkgrey text-2xl mr-4 h-6 rounded-full;

  &:focus {
    @apply widget-shadow-lightblue outline-none;
  }
}

.active,
.item:hover {
  @apply bg-white;

  .buttonIcon {
    @apply font-semibold;
  }
}

.isExpanded {
  background-color: #fafbfc;
}

.table {
  @apply flex justify-between text-sm;
}

.addTable {
  @apply hidden;
  @screen lg {
    @apply flex my-8 mx-3 text-sm text-acc-hoverblue;

    &:hover {
      @apply text-acc-linkblue;
    }

    svg {
      @apply mt-0.5 mr-2 text-base;
    }
  }
}

.enumCol {
  @apply flex;

  svg {
    @apply text-lg ml-1;
  }
}

.enumPopup {
  @apply font-mono text-xs p-2;
}

.tableName {
  @apply flex p-3 text-acc-hoverlinkblue font-semibold w-full text-sm;

  svg {
    @apply text-sm mt-1 mr-2;
  }

  &:hover {
    @apply text-acc-linkblue;
  }

  &:focus {
    @apply outline-none;

    svg {
      @apply widget-shadow-lightblue;
    }
  }
}

.right {
  @apply flex items-center;
}

.tableStatus {
  @apply text-ld-orange pr-4 mr-1 font-semibold;
}

.item:hover .buttonIcon {
  @apply text-primary;

  &:hover {
    @apply text-acc-hoverblue;
  }
}

.empty {
  @apply my-4 mx-5;
}

.columns {
  @apply py-2 px-3 bg-white;

  ol {
    @apply font-mono text-xs;
  }
}

.col {
  @apply flex justify-between max-w-[30rem];

  &:not(:last-of-type) {
    @apply pb-4;
  }
}

.primaryKey {
  @apply font-semibold;
}

.colName {
  @apply flex;
  span:first-of-type {
    @apply -mr-1.5;
  }
}

.colType {
  @apply text-right whitespace-normal ml-4;
  font-size: 0.7rem;
}

.colCon {
  @apply ml-2;
}

.key {
  @apply mx-3 mt-px;
}

.tooltip {
  @apply text-center font-sans;
}

.mobileTableListItem {
  @apply mx-2 justify-between;
}

.smallLoader {
  @apply h-6 mx-2 text-sm;
}
