.item {
  @apply text-primary;
}

.buttonIcon {
  @apply text-primary opacity-25 text-2xl mr-4 h-6 rounded-full;

  &:focus {
    @apply widget-shadow-lightblue outline-none;
  }
}

.active,
.item:hover {
  @apply bg-white;

  .buttonIcon {
    @apply font-semibold;
  }
}

.item:hover .buttonIcon {
  @apply opacity-100;

  &:hover {
    @apply text-sky-900;
  }
}

.isExpanded {
  background-color: #fafbfc;
}

.table {
  @apply flex justify-between text-sm;
}

.tableName {
  @apply hidden;

  @screen lg {
    @apply flex p-3 text-link-1 font-semibold w-full text-sm;

    svg {
      @apply inline-block text-sm mt-1 mr-2;
    }

    &:hover {
      @apply text-link-2;
    }

    &:focus {
      @apply outline-none;

      svg {
        @apply widget-shadow-lightblue;
      }
    }
  }
}

.mobileTableLink {
  @apply flex justify-between mx-2 p-3 text-link-1 font-semibold w-full text-sm lg:hidden;
}

.right {
  @apply flex items-center mt-1;

  a {
    @apply hidden lg:block;
  }
}

.tableStatus {
  @apply text-coral-400 pr-4 mr-1 font-semibold;
}
