.optionsDropdown {
  @apply hidden;

  @screen lg {
    @apply flex justify-end;
  }
}

.triggerButton {
  @apply font-normal text-xs px-2 py-1.5;
}

.optionButton {
  @apply flex items-center text-xs mx-2 my-3 py-0.5 font-semibold hover:text-acc-hoverblue;

  .help {
    @apply mb-1;
  }

  svg {
    @apply mr-2.5 text-sm;
  }
}

.downloadCsv {
  @apply w-[40rem];
  p {
    @apply my-2;
  }
}

.icon {
  @apply ml-2 mt-0 mb-1 inline-block;
}

.fileName {
  @apply py-4;
}
