.ace {
  @apply pt-4 pb-6 pr-5 pl-2 mb-0 mx-1 rounded-sm flex flex-nowrap flex-grow bg-ld-darkerblue max-w-full relative;

  &:focus-within {
    @apply widget-shadow;
  }
}

.editor {
  @apply overflow-hidden w-full bg-ld-darkerblue;
}

.sidebar {
  @apply pl-5 flex flex-col;
}

.button {
  @apply rounded-full outline-none bg-transparent p-3 my-1 border-transparent h-auto;

  &:hover {
    @apply widget-shadow;
  }

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }
}

.icon {
  @apply text-white;
}

.tooltip {
  @apply text-black;
}

.code {
  @apply py-2 text-center mt-2;
}

.commands {
  @apply text-white absolute flex bottom-1 right-0 opacity-80;

  p {
    @apply text-white mr-6 tracking-wide;
  }
}

.question {
  @apply text-sm text-blue-400 absolute flex bottom-1 left-4 opacity-80;

  p {
    @apply text-sm text-blue-400 mr-6 tracking-wide;
  }
}

.learnMore {
  @apply flex items-center;

  svg {
    @apply mr-2;
  }
}

.bold {
  @apply font-semibold;
}
