.container {
  @apply mt-3 mb-5 px-2 lg:px-0;
}

.top {
  @apply mx-3 mb-3;
}

.fixedWidth {
  @apply inline-block w-12;
}

.bold {
  @apply font-mono font-semibold text-sm;
}

.browse {
  @apply px-0 mb-2 mt-1;
}

.infoContainer {
  @apply border-y-2 text-sm py-4 px-3;
}

.commitMsg {
  @apply break-words;
}

.committer {
  @apply mt-0.5 mb-2.5 text-storm-200;
}

.userLink {
  @apply text-storm-200;

  &:hover {
    @apply text-stone-500;
  }
}

.parentHash {
  @apply font-mono text-xs;

  a {
    @apply text-primary;

    &:hover {
      @apply text-sky-900;
    }
  }
}

.plus {
  @apply mx-1;
}
