.container {
  @apply mx-6;
}

.top {
  @apply flex flex-wrap justify-between pt-6;
}

.topRight {
  @apply flex items-center;
}

.sortSelect {
  @apply min-w-[150px] mr-6;
}

.white {
  @apply text-white;
}

.table {
  @apply border border-stone-100 border-separate rounded-lg text-primary mx-auto my-10 overflow-x-auto block;
  border-spacing: 0;

  @screen lg {
    @apply min-w-[40rem] overflow-x-visible;
    display: table;
  }

  td,
  th {
    @apply px-6 text-left;
  }

  th {
    @apply pt-6 pb-2 bg-stone-50;
  }

  td {
    @apply border-t border-stone-100 py-3;
  }

  tr:first-child {
    th:first-child {
      @apply rounded-tl-lg;
    }
    th:last-child {
      @apply rounded-tr-lg;
    }
  }
}

.loader {
  @apply text-primary my-4 text-center;
}

.noBranches {
  @apply text-center text-lg m-6;
}

.trashColumn {
  @apply flex justify-end;
}

.icon {
  @apply text-lg m-4;
}

.iconGray {
  @apply fill-storm-200;
}

.button {
  @apply mr-4;
}
