.layoutFlow {
  @apply w-full h-full;
}

.node {
  @apply leading-loose text-sm font-mono border-ld-lightgrey bg-ld-lightgrey border p-3 rounded-md z-1 overflow-x-auto relative max-w-[200px];
  border-spacing: 0;
  td,
  th {
    @apply pr-6 pl-6 border-b border-ld-lightgrey relative;
    @screen md {
      @apply pl-2;
    }
  }
  th {
    @apply font-bold whitespace-nowrap;
    &:first-of-type {
      @apply pl-2 pr-1 border-none bg-acc-hoverblue text-white min-w-0;
    }
  }

  td {
    &:first-of-type {
      @apply pl-2 pr-1 border-none bg-white min-w-0;
    }
    &:hover {
      @apply bg-ld-lightblue;
    }
  }
  thead {
    @apply text-left text-primary;
  }
  tbody {
    @apply whitespace-nowrap text-ld-darkergrey;
  }
}

.colName {
  @apply flex items-center;
  svg {
    @apply ml-1;
  }
}

.notation {
  @apply absolute left-4 bottom-4;
}

.closeButton {
  @apply text-red-500;
}
