.outer {
  @apply max-w-5xl;
}

.text {
  @apply max-w-md text-base my-4;
  a {
    @apply text-[#FF8964];
  }
  a:hover {
    @apply text-coral-400;
  }
}
.options {
  @apply my-6;

  ul {
    @apply mb-8;
  }
}

.connection {
  @apply my-3 border rounded flex w-80 h-24;

  button {
    @apply text-base;
  }
}

.left {
  @apply w-24 flex justify-center items-center rounded-l;
}

.dolt {
  background: linear-gradient(#0dc1a0 0%, #29e3c1 100%);
}

.mysql {
  background: linear-gradient(#084550 0%, #00758f 100%);
}

.doltgresql {
  background: linear-gradient(#d34f26 0%, #ff8964 100%);
}

.postgresql {
  background: linear-gradient(#286288 0%, #367faf 100%);
}

.right {
  @apply relative;
}

.err {
  @apply text-center;
}

.newConnection {
  @apply flex items-center px-4;

  svg {
    @apply mr-2;
  }
}

.label {
  @apply text-sm w-24 rounded-full flex items-center justify-center mr-5;
}
