.outer {
  @apply max-w-5xl;
}

.text {
  @apply max-w-md text-base my-4;
  a {
    @apply text-[#FF8964];
  }
  a:hover {
    @apply text-coral-400;
  }
}
.options {
  @apply my-6 flex items-center;
}

.outerEllipse {
  background: radial-gradient(
    circle,
    rgba(239, 242, 243, 0.3) 0%,
    rgba(25, 46, 61, 0.12) 100%
  );
  @apply w-32 h-32 rounded-full z-10 flex justify-center items-center mr-10;
}

.innerEllipse {
  background: radial-gradient(
    circle,
    rgba(239, 242, 243, 0.6) 0%,
    rgba(25, 46, 61, 0.24) 100%
  );
  @apply w-24 h-24 rounded-full z-20 flex justify-center items-center;
}

.dLogo {
  @apply w-16 h-16 z-30;
}

.dLogo::after {
  content: "";
  @apply w-[46%] border-t border-stone-100 inline-block align-middle relative;
}

.connectionContainer{
  @apply flex relative ml-10;
}

.line{
  @apply border-l-2 border-t-2 border-white w-16 h-36 rounded-tl-3xl absolute top-14;
}

.connection {
  @apply my-3 border rounded flex w-80 h-24 ml-16;

  button {
    @apply text-base;
  }
}

.left {
  @apply w-24 flex justify-center items-center rounded-l;
}

.dolt {
  background: linear-gradient(#0dc1a0 0%, #29e3c1 100%);
}

.mysql {
  background: linear-gradient(#084550 0%, #00758f 100%);
}

.doltgresql {
  background: linear-gradient(#d34f26 0%, #ff8964 100%);
}

.postgresql {
  background: linear-gradient(#286288 0%, #367faf 100%);
}

.right {
  @apply relative w-56 bg-white rounded-r;
}

.delete {
  @apply absolute top-2 right-2 text-coral-400;
}

.delete:hover {
  @apply text-[#FF8964];
}

.err {
  @apply text-center;
}

.newConnection {
  @apply flex items-center px-8 h-10 bg-coral-400;
  &:hover {
    @apply bg-[#FF8964];
  }
}

.typeAndName {
  @apply pl-6 h-full flex flex-col justify-center items-start;
}

.name {
  @apply text-sky-400;
}
.label {
  @apply text-sm;
}
