.error {
  @apply max-w-lg text-center;
}

.stackedButton {
  @apply flex flex-col;
  button {
    @apply mb-4 h-10;
  }
}

.group {
  @apply text-center mt-4;
}

.cancel {
  @apply px-2;
}

.left {
  @apply text-left;
}
